
{% extends '::baseTabela.html.twig' %}




{% block body -%}
     
    <a class="btn btn-large btn-glyph" href="{{ path('funcaoutilizador_new') }}" style="margin-left: 783px; margin-top: 3px; height: 8px; font-size: 12px; color: #66cc00;"><i class="fontello-icon-plus-circle-3"></i>Adicionar</a> 
        
   
    <table id="exampleDTB-1" class="table boo-table table-striped table-content table-hover">
        <thead>
            <tr>
                <th scope="col"># <span class="column-sorter"></span></th>
                <th scope="col" style='text-align: center;'>Utilizador <span class="column-sorter"></span></th>
                <th scope="col" style='text-align: center;'>Função <span class="column-sorter"></span></th>
            </tr>
        </thead>
        <tbody>
           
                    
           
        </tbody>
    </table>




{% endblock %}






























