{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Documento edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('documento') }}">
            list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
